@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400;1,600&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,500;1,300;1,700&family=Salsa&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background_img.png);
  height: 100vh;
}

#app {
  width: 100%;
  margin-top: 0px;
}

ul,
li {
  list-style: none;
  position: relative;
}

.chatbox-grey {
  background-color: rgb(233, 235, 235);
}

.blue {
  background-color: rgb(142, 218, 252);
}

.icon-grey {
  color: rgb(177, 177, 177);
}

.container {
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;
}

.active {
  background-color: rgb(233, 235, 235);
}

#contacts {
  grid-template-rows: 60px 60px 50px 680px;
}

#chatbox {
  grid-template-rows: 60px 730px 60px;
}

img {
  border-radius: 50%;
  max-width: 50px;
  margin-right: 10px;
}

img:hover {
  border: 2px solid rgb(142, 218, 252);
}

#myProfile {
  padding: 0px 10px;
}

.name {
  font-size: 18px;
}

.description {
  font-size: 12px;
}

.icons {
  margin: 0px 5px;
  font-size: 20px;
  color: rgb(177, 177, 177);
}

.icons:hover {
  color: rgb(142, 218, 252);
}

#bell {
  font-size: 15px;
  margin: 0px 25px;
  background-color: white;
  color: rgb(142, 218, 252);
  border-radius: 50%;
  padding: 15px;
}

.search-bar {
  position: relative;
}

.search-glass {
  position: absolute;
  left: 30px;
  color: grey;
}

#contacts-list {
  overflow: scroll;
  max-height: 100%;
  background-color: white;
}

.contact-hour {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 10px;
  color: grey;
}

#contacts-list,
li {
  border-bottom: 1px solid rgb(128, 128, 128, 0.1);
}

li:hover {
  background-color: rgb(233, 235, 235);
}

#current-chat {
  padding: 0px 10px;
  border-left: 2px solid rgb(0, 0, 0, 0.2);
}

#chat {
  background-image: url(/img/mine.jpg);
  overflow: scroll;
}

.sent-messages {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0px 80px;
}

.recieved-messages {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px 80px;
}

.sent-messages>* {
  background-color: rgb(213, 249, 186);
}

.recieved-messages>* {
  background-color: white;
}

.message {
  max-width: 300px;
  padding: 15px 8px 0px 20px;
  border-radius: 15px;
  margin: 10px 0px;
}

.message-date {
  font-size: 12px;
  text-align: end;
  color: grey;
}

#msg-input {
  background-color: rgb(233, 235, 235);
}